<div class="container">
    <h1>
      <%= title %> 
    </h1>
    <p>Welcome to <%= title %> page
    </p>
    <table class="table table-center",>
      <thead>
        <tr>
          <th class="center">Heylisse Machado CEO </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img src="./assets/images/picture.jpg" alt="Heylisse photo" style= "height: 250px; width: 200x;"></td>
        </tr>
        <tr>
          <th>EDUCATION: Civil Engineering Bsc - 12 years Experience / Software Engineering Diploma (Class of 2022) </th>
        </tr>
       
        <tr>
          <th scope="row">Founded in 2018, HEMAC Engineering provides civil, and structural services in the Caribbean. 
            And a few other places too. Our mission is to build and deliver value to our clients and priding ourselves on 
            executing practical and creative solutions. The new addition to our services will be to provided <b>Software 
           Engineering solution</b> , Web development, and home improvements. </th>
        </tr>
      </tbody>
    </table>
    <a href="https://docs.google.com/document/d/1-sRQEzXLQtisoI10Lj1H_yV8XtMi7grB/edit">My Resume</a>
</div>
