<div class="container">
    <h1>
      <%= title %> 
    </h1>
    <p>Welcome to <%= title %> page
    </p>
    <table class="table table-center",>
      <thead>
        <tr>
          <th class="center">HEMAC Engineering - Software Engineering And Civil Engineering Services </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img src="./assets/images/logo2.png" alt="logo" style= "height: 250px; width: 200x;"></td>
        </tr>
        <tr>
          <th>Generate Growth with Web Development Experts</th>
        </tr>
        <tr>
          <th scope="row">Improved sales analytics, trend detection and supply management through a custom-built web application </th>
        </tr>
      </tbody>
    </table>
</div>