<div class="container">
    <h1>
      <%= title %> 
    </h1>
    <p>Welcome to <%= title %> page
    </p>
    <table class="table table-center",>
      <thead>
        <tr>
          <th> Please contact us:  for better service send an email, please add your name, contact information, and service request. 
               A member of our team will contact you </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> hemachengneering@gmail.com </td>
        </tr>
        <tr>
          <th> Toronto ON Office number : 416-555-7788</th>
        </tr>
       
        <tr>
          <th scope="row"> Adress: Totonto, Ontario, Canada </th>
        </tr>
      </tbody>
    </table>
</div>