<div class="container">
    <h1>
      <%= title %> 
    </h1>
    <p>Welcome to <%= title %> page
    </p>

    <table class="table table-center",>
      <thead>
        <tr>
          <th class="center">PROJECTS: </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th> Civil - East Lake Urban community 210  middle income apartments</th>
        </tr>
        <tr>
          <th> Civil - West Hills Development 330 middle income apartments</th>
        </tr>
        <tr>
          <th> Web Development - MetaCritics game review improvement.  </th>
        </tr>
      </tbody>
    </table>
</div>