<div class="container">
    <h1>
      <%= title %> 
    </h1>
    <p>Welcome to <%= title %> page
    </p>
    <table class="table table-center",>
      <thead>
        <tr>
          <th class="center">SERVICES PROVIDED: </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th> HEMAC Engineering provides a variety of services.</th>
         
        </tr>
        <tr>
          <th> - Architectural and Civil Engineering designs, development, advice, from the inspection to the end. </th>
          
        </tr>
        <tr>
          <th> - Our newly add Software Engineering team specialize on Web Development applications and personalize software for the needs of individual or organizations. </th>
        </tr>
      </tbody>
    </table>
</div>